<p>Hola Mundo</p>

<label>Edad 1: </label><input type="number" [(ngModel)]="this.edadUno"><br>
<label>Edad 2: </label><input type="number" [(ngModel)]="this.edadDos"><br>

<input type="button" value="Calcular" (click)="this.calcular()"><br><br>

<div *ngIf="this.resultadoSuma">
<label>Suma: </label><input type="number" [(ngModel)]="this.resultadoSuma"><br>
<label>Promedio: </label><input type="number" [(ngModel)]="this.resultadoProm"><br><br>

<input type="button" value="Limpiar cuadro de Textos" (click)="this.limpiar()"><br><br>
</div>
<router-outlet></router-outlet>