<header class="header-section">
    <div class="header-warp">
        <div class="header-bar-warp d-flex">
          <div>
            <h2 class="titulo">
           Mi Sala de Juegos</h2>
        </div>
        <nav class="top-nav-area w-100">
            <div class="user-panel" >
              <!--div *ngIf="!verificarSesion()" >
              <div ><a routerLink="/Login" >Ingresá</a></div>
              <div ><a routerLink="/Registro" >Registrate</a></div>
            </div-->
              <!--div *ngIf="verificarSesion()"><a routerLink="/" (click)="cerrarSesion()" >Cerrar sesion</a></div>
            </div-->